@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

$headerBackground: #FFFFFF;
$headerElementBackground: #F6F6F6;
$headerElementColor: #807D7E;
$headerMobileHeight: 6.8rem;
$headerNotebookHeight: 8.5rem;
$headerDesktopHeight: 10.8rem;

$footerBackground: #3C4242;
$footerElementsColor: #F6F6F6;

$sectionMarker: #8A33FD;
$sectionText: #3C4242;

$feedbackRatingColor: #EDD146;
$feedbackBackground: #FFF;
$feedbackBorder: #BEBCBD;
$feedbackName: #3C4242;
$feedbackTextColor: #807D7E;

$limelightWishlistButtonColor: #3C4242;
$limelightWishlistButtonBackground: #FFF;
$limelightNameColor: #3C4242;
$limelightBrandColor: #807D7E;
$limelightPriceBackground: #F6F6F6;
$limelightPriceColor: #3C4242;

$phone: 480px;
$tablet: 768px;
$notebook: 1024px;
$desktop: 1200px;