@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
.selectable {
  -webkit-user-select: text; /* Chrome/Safari/Opera */
  -moz-user-select: text; /* Firefox */
  -ms-user-select: text; /* Internet Explorer/Edge */
  user-select: text; /* Non-prefixed version, currently not supported by any browser */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.3s;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently not supported by any browser */
}

.swiper-scrollbar {
  bottom: -1rem !important;
}
@media (min-width: 1024px) {
  .swiper-scrollbar {
    display: none;
  }
}

.swiper-wrapper {
  width: fit-content;
}

html {
  font-size: 10px;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.button {
  cursor: pointer;
}

footer {
  margin-top: auto;
}

.card {
  border-radius: 1.2rem;
  margin: 0 5vw;
}

.section {
  margin: 0 5vw;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 768px) {
  .section {
    gap: 3rem;
  }
}
@media (min-width: 1024px) {
  .section {
    gap: 5rem;
  }
}
@media (min-width: 1200px) {
  .section {
    gap: 7rem;
  }
}
.section__title {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.section__titleMarker {
  display: none;
}
.section__titleText {
  display: flex;
  gap: 2rem;
  align-items: center;
  color: #3C4242;
  font-family: "Poppins", sans-serif;
  font-size: 2.4rem;
}
.section__titleText::before {
  content: " ";
  display: inline-block;
  width: 6px;
  height: 88%;
  border-radius: 0.3rem;
  background-color: #8A33FD;
}
@media (min-width: 768px) {
  .section__titleText {
    font-size: 2.8rem;
  }
}
@media (min-width: 1024px) {
  .section__titleText {
    font-size: 3.1rem;
  }
}
@media (min-width: 1200px) {
  .section__titleText {
    font-size: 3.4rem;
  }
}
.section__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

main {
  max-width: 144rem;
  width: 100%;
  align-self: center;
}

.path {
  align-self: center;
  width: 100%;
  max-width: 1440px;
  padding: 2rem 5vw 0;
  font-family: "Poppins", sans-serif;
  color: #807D7E;
  display: flex;
  gap: 1.5rem;
}
.path__element {
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
}
.path__element:last-child {
  color: #3C4242;
}

.checkbox {
  display: flex;
  gap: 1rem;
}
.checkbox label {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-direction: row;
}
.checkbox__icon {
  font-size: 16px;
  color: #3C4242;
}
.checkbox__icon-container {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #BEBCBD solid 1px;
  border-radius: 2px;
  cursor: pointer;
}
.checkbox__text {
  color: #3C4242;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

body {
  position: relative;
}

.header {
  z-index: 100;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: center;
  background-color: #FFFFFF;
  height: 6.8rem;
  border-bottom: #807D7E 1px solid;
}
@media (min-width: 1024px) {
  .header {
    height: 8.5rem;
  }
}
@media (min-width: 1200px) {
  .header {
    height: 10.8rem;
  }
}
.header__logo {
  display: none;
}
@media (min-width: 1200px) {
  .header__logo {
    display: block;
  }
}
.header__contentWrapper {
  max-width: 144rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.2rem;
  width: 100%;
  padding: 1.2rem;
}
@media (min-width: 480px) {
  .header__contentWrapper {
    margin: 0 3vw;
  }
}
.header__buttons {
  display: none;
  flex-direction: row;
  gap: 1.2rem;
}
@media (min-width: 768px) {
  .header__buttons {
    display: flex;
  }
}

@media (min-width: 1024px) {
  #showHidden {
    display: none;
  }
}
.nav {
  display: none;
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem;
  color: #807D7E;
}
.nav__list {
  display: flex;
  align-items: center;
  gap: 4rem;
  flex-direction: row;
  list-style: none;
}
.nav__element a {
  text-decoration: none;
  color: #807D7E;
}
.nav__element a:hover {
  color: #3C4242;
}
@media (min-width: 1024px) {
  .nav {
    font-size: 2rem;
    display: flex;
  }
}
@media (min-width: 1200px) {
  .nav {
    font-size: 2.2rem;
    padding: 0 0 0 3vw;
  }
}

.search {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  gap: 1.2rem;
  color: #807D7E;
  background-color: #F6F6F6;
  border-radius: 0.8rem;
  padding: 1.2rem 2rem;
}
.search:hover {
  cursor: pointer;
}
@media (min-width: 1024px) {
  .search {
    max-width: 27rem;
    margin: auto;
  }
}
.search__icon {
  color: #807D7E;
  font-size: 2rem;
}
.search__input {
  height: 2rem;
  background-color: #F6F6F6;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  width: 100%;
  font-weight: 400;
  border: none;
  outline: none;
  cursor: pointer;
}

.button {
  height: fit-content;
  border-radius: 0.8rem;
  border: none;
  background-color: #F6F6F6;
}
.button i {
  color: #807D7E;
  font-size: 2rem;
  padding: 1.2rem;
}

.hiddenContent {
  position: absolute;
  top: 6.8rem;
  left: 0;
  width: 100%;
  height: calc(100vh - 6.8rem);
  background-color: rgba(255, 255, 255, 0.95);
  display: none;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 3rem;
}
@media (min-width: 768px) {
  .hiddenContent hr {
    display: none;
  }
}
.hiddenContent > * {
  margin: 0 5%;
}
.hiddenContent a {
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem;
  color: #3C4242;
}
@media (min-width: 1024px) {
  .hiddenContent {
    display: none;
  }
}
.hiddenContent .hiddenButtons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 768px) {
  .hiddenContent .hiddenButtons {
    display: none;
  }
}
.hiddenContent .hiddenNav ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.hiddenContent .hiddenNav ul li {
  list-style: none;
}

.hiddenContent {
  animation: animatetop;
  animation-duration: 0.4s;
}

@keyframes animatetop {
  from {
    top: -30rem;
    opacity: 0;
  }
  to {
    top: 6.8rem;
    opacity: 1;
    @media (min-width: 1024px) {
      top: 8.5rem;
    }
    @media (min-width: 1200px) {
      top: 10.8rem;
    }
  }
}
.footer {
  display: flex;
  flex-direction: column;
  background-color: #3C4242;
}
.footer__content-wrapper {
  align-self: center;
  max-width: 144rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #F6F6F6;
  padding: 2rem min(5rem, 5vw);
}
@media (min-width: 1024px) {
  .footer {
    padding: 5rem;
  }
}
.footer__contentMobile {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 3rem;
  column-gap: 1.5rem;
}
@media (min-width: 1024px) {
  .footer__contentMobile {
    display: none;
  }
}
.footer__columns {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 3rem;
}
@media (min-width: 480px) {
  .footer__columns {
    flex-direction: row;
  }
}
.footer__contentDesktop {
  display: none;
  flex-direction: column;
  text-align: center;
  row-gap: 3rem;
  column-gap: 1.5rem;
}
@media (min-width: 1024px) {
  .footer__contentDesktop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.5fr;
    grid-template-rows: auto auto;
    padding: 0 min(80px, 4vw);
  }
}
.footer__title {
  font-size: 2rem;
  font-weight: 700;
}
@media (min-width: 1024px) {
  .footer__title {
    text-align: start;
  }
}
.footer__block ul {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  list-style: none;
  font-size: 1.4rem;
  margin-top: 1.5rem;
}
@media (min-width: 1024px) {
  .footer__block ul {
    gap: 1.8rem;
    text-align: start;
  }
}
.footer__socialLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: end;
  flex-wrap: wrap;
  gap: 1rem;
}
@media (min-width: 1024px) {
  .footer__socialLinks {
    justify-content: start;
    grid-column: 1/4;
  }
}
.footer__downloadLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.1rem;
}
@media (min-width: 1024px) {
  .footer__downloadLinks {
    grid-column: 4/-1;
    justify-content: start;
  }
}
.footer__downloadLinks .footer__title {
  display: none;
  flex: 1 0 100%;
}
@media (min-width: 1024px) {
  .footer__downloadLinks .footer__title {
    display: block;
  }
}
.footer__popularCategories {
  cursor: pointer;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding: 3rem min(80px, 4vw);
  border: 1px solid #BEBCBD;
  border-right: none;
  border-left: none;
}
@media (min-width: 1024px) {
  .footer__popularCategories {
    display: flex;
    grid-row-start: -2;
    grid-column: 1/-1;
  }
}
.footer__popularCategories i {
  font-size: 2rem;
}
.footer__copyright {
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
}
@media (min-width: 1024px) {
  .footer__copyright {
    font-size: 1.8rem;
    grid-row-start: -1;
    grid-column: 1/-1;
  }
}
.footer a {
  color: #F6F6F6;
}

main {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-top: 2rem;
}
@media (min-width: 768px) {
  main {
    margin-top: 3.5rem;
  }
}
@media (min-width: 1024px) {
  main {
    margin-top: 5rem;
  }
}

.section {
  font-family: "Poppins", sans-serif;
  color: #807D7E;
}
.section .content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.section .path {
  display: flex;
  gap: 1.5rem;
  padding: 0;
}
.section .path__element {
  font-size: 1.8rem;
  font-weight: 500;
}
.section .info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.4rem;
  font-weight: 400;
}
.section .info a {
  color: #8A33FD;
  text-decoration: none;
  font-weight: 600;
}

.table {
  width: 100%;
  height: fit-content;
  border-collapse: collapse;
}
.table__wrapper {
  overflow-x: auto;
  position: relative;
}
.table .table__header {
  display: none;
  position: sticky;
  top: 0;
  font-family: "Poppins", sans-serif;
  background-color: #3C4242;
  color: #FFFFFF;
  font-size: 1.4rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .table .table__header {
    display: table-row;
  }
}
.table .table__header th {
  padding: 2.6rem 0;
}
.table .table__item {
  display: grid;
  gap: 2rem;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(2, auto);
  font-family: "Poppins", sans-serif;
  padding: 0 5vw;
}
@media (min-width: 768px) {
  .table .table__item {
    display: table-row;
    padding: 0;
  }
}
.table .table__item::after {
  display: block;
  content: " ";
  grid-column: 1/-1;
  width: 100%;
  height: 2px;
  background-color: #BEBCBD;
  margin-bottom: 3rem;
}
@media (min-width: 768px) {
  .table .table__item::after {
    display: none;
  }
}
.table .table__item:last-child::after {
  display: none;
}
.table .table__itemDetails {
  display: block;
  grid-row: 1;
  grid-column: 1/-1;
}
@media (min-width: 768px) {
  .table .table__itemDetails {
    display: table-cell;
  }
}
.table .table__itemPrice {
  display: none;
  color: #3C4242;
  font-size: 1.6rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .table .table__itemPrice {
    display: table-cell;
  }
}
.table .table__itemQuantity {
  place-self: center;
}
.table .table__itemShipping {
  display: none;
  color: #BEBCBD;
  font-size: 1.6rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .table .table__itemShipping {
    display: table-cell;
  }
}
.table .table__itemSubtotal {
  color: #3C4242;
  font-size: 1.6rem;
  font-weight: 700;
  place-self: center;
}
.table .table__itemAction {
  grid-column: 1/-1;
  place-self: center;
}
@media (min-width: 768px) {
  .table th, .table td {
    text-align: center;
    width: 12%;
  }
  .table th:first-child, .table td:first-child {
    width: 40%;
    padding-left: 5vw;
    text-align: start;
  }
  .table th:last-child, .table td:last-child {
    padding-right: 5vw;
  }
  .table td {
    padding: 3rem 0;
    border-bottom: 1px solid #3C4242;
  }
  .table tr:last-child td {
    border-bottom: none;
  }
}

.details {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.details__photo {
  width: 10.5rem;
  height: 12rem;
  border-radius: 1.2rem;
  overflow: hidden;
}
.details__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.details__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.details__contentTitle {
  color: #3C4242;
  font-size: 1.6rem;
}
.details__contentDescription {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: #807D7E;
  font-size: 1.2rem;
  text-align: start;
}

.quantity {
  display: flex;
  justify-content: center;
}
.quantity__content {
  display: flex;
  gap: 1.6rem;
  padding: 1.1rem 2.3rem;
  background-color: #F6F6F6;
  width: fit-content;
  border-radius: 1.2rem;
  font-size: 1.2rem;
}
.quantity__count {
  outline: none;
  border: none;
  background: none;
  width: 2rem;
  text-align: center;
}
.quantity__decrease, .quantity__increase {
  cursor: pointer;
}

.actions {
  text-align: center;
}
.actions__delete {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-size: 1.6rem;
  align-items: center;
  justify-content: center;
}
.actions__delete span {
  font-size: 1.4rem;
}
@media (min-width: 768px) {
  .actions__delete span {
    display: none;
  }
}

.discount {
  display: flex;
  flex-direction: row;
  background-color: #F6F6F6;
  padding: 2rem 5vw;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}
@media (min-width: 907px) {
  .discount {
    justify-content: space-between;
  }
}
.discount .codes {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-family: "Poppins", sans-serif;
  align-items: center;
  text-align: center;
}
@media (min-width: 907px) {
  .discount .codes {
    align-items: start;
    text-align: start;
  }
}
@media (min-width: 480px) {
  .discount .codes {
    gap: 3rem;
  }
}
@media (min-width: 1024px) {
  .discount .codes {
    gap: 4rem;
  }
}
.discount .codes__header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.discount .codes__title {
  color: #3C4242;
  font-size: 2.4rem;
  font-weight: 600;
}
.discount .codes__subtitle {
  color: #807D7E;
  font-size: 1.6rem;
  font-weight: 400;
}
.discount .codes__coupon {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}
.discount .codes__coupon input {
  outline: none;
  cursor: pointer;
  font-size: 1.6rem;
  padding: 1.2rem 2rem;
  border: 1px #807D7E solid;
  border-radius: 1.2rem;
}
.discount .codes__coupon button {
  color: #FFFFFF;
  background-color: #8A33FD;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1.2rem 3rem;
  border: 1px #807D7E solid;
  border-radius: 1.2rem;
}
.discount .codes__continue {
  width: fit-content;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: #fff;
  border: #8A8989 1px solid;
  border-radius: 1.2rem;
  padding: 1.2rem 5rem;
}
.discount .checkout {
  align-items: center;
  min-width: 28rem;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.discount .checkout > * {
  padding: 0 3rem;
  width: 100%;
}
@media (min-width: 768px) {
  .discount .checkout > * {
    padding: 0 9rem;
  }
}
.discount .checkout > hr {
  padding: 0;
  width: 100%;
}
.discount .checkout .checkout__sub {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.discount .checkout .sub-total,
.discount .checkout .shipping {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  color: #3C4242;
}
.discount .checkout .checkout__grand {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.6rem;
  color: #3C4242;
  font-weight: 700;
  gap: 5rem;
}
.discount .checkout .proceed {
  background-color: #8A33FD;
  color: #FFFFFF;
  padding: 1.2rem 3rem;
  border-radius: 1.2rem;
  border: 1px solid #807D7E;
  font-size: 1.6rem;
  font-weight: 600;
  width: fit-content;
}

/*# sourceMappingURL=cart_page.css.map */
