@import "default";
@import "blocks/header";
@import "blocks/footer";

.checkout {
  padding: 5rem 0 5rem 0;

  @include media($tablet) {
    padding: 5rem 0 10rem 0;
  }
}
.hr {
  width: 100%;
  height: 1px;
  background-color: #EDEEF2;
}

.input-field {
  min-width: 24.6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include media($tablet) {
    max-width: calc(50% - 1.9rem);
  }

  .title {
    color: #3C4242;
    font-size: 1.4rem;
    font-weight: 600;
  }

  input {
    width: 100%;
    padding: 1.6rem 2rem;
    background-color: #F6F6F6;
    font-size: 1.4rem;
    color: #807D7E;
    outline: none;
    border: none;
    border-radius: 1.2rem;
  }

  &.required {
    .title::after {
      content: "*";
    }
  }
}

.checkout {
  font-family: "Poppins", sans-serif;

  &__contentWrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 3rem;

    @include media($notebook) {
      flex-direction: row;
    }
  }

  .blocks {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .block {
      &::after {
        //margin-top: 3rem;
        content: " ";
        display: block;
        height: 1px;
        width: 100%;
        background-color: #EDEEF2;
      }

      &:last-child::after {
        display: none;
      }
    }


    .block-title {
      color: #3C4242;
      font-family: "Poppins", sans-serif;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
    }

    .block-subtitle {
      margin-top: 1rem;
      color: #3C4242;
      font-family: "Poppins", sans-serif;
      font-size: 16px;
      font-weight: 400;
    }

    .shippingAddress {
      display: flex;
      flex-direction: column;

      &::after {
        margin-top: 3rem;
      }

      .address-selector {
        margin-top: 3rem;
        display: flex;
        gap: 2.5rem;
        flex-direction: column;
        padding: 3.8rem 2.8rem;
        background-color: #F6F6F6;
        border-radius: 1.2rem;

        .address-item {
          display: flex;
          column-gap: 1.5rem;
          align-items: center;
          flex-wrap: wrap;
          row-gap: 2.5rem;

          &::after {
            display: block;
            content: " ";
            width: 100%;
            height: 1px;
            background-color: #BEBCBD;
          }

          &:last-child::after {
            display: none;
          }

          .radio {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            border: #3C4242 solid 1px;
            padding: 2px;

            &-fill {
              display: block;
              width: 100%;
              height: 100%;
              border-radius: 50%;
              background-color: #807D7E;
            }
            
            &:hover {
              cursor: pointer;
            }
          }

          .text {
            color: #3C4242;
            font-family: "Poppins", sans-serif;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;

            @include media($phone) {
              font-size: 16px;
            }

            @include media($tablet) {
              font-size: 20px;
            }

          }
        }
      }
    }

    .billingDetails {
      display: flex;
      flex-direction: column;
      gap: 5rem;

      form {
        display: flex;
        flex-wrap: wrap;
        column-gap: 3.8rem;
        row-gap: 2.8rem;

        .input-group {
          display: flex;
          width: 100%;
          gap: 3.2rem;
          flex-wrap: wrap;

          .input-field {
            min-width: 24.6rem;
            flex: 1;
          }
        }

        .submit-wrapper {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 2rem;


          button {
            background-color: #8A33FD;
            color: #FFFFFF;
            padding: 1.6rem 2rem;
            font-size: 1.4rem;
            font-weight: 500;
            border-radius: 0.8rem;
            border: none;
            width: fit-content;
          }

          .checkbox-wrapper {
            display: flex;
            flex-direction: row;
            font-size: 1.4rem;
            gap: 1rem;

            .checkbox-icon {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 18px;
              height: 18px;
              border: #BEBCBD solid 1px;
            }

            .checkbox-text {
              color: #3C4242;
              font-family: "Poppins", sans-serif;
              font-weight: 400;
            }
          }
        }
      }
    }

    .shippingMethod {
      display: flex;
      flex-direction: column;
      gap: 2.5rem;

      .content {
        display: flex;
        flex-direction: column;
        background-color: #F6F6F6;
        padding: 3.2rem 2.6rem;
        border-radius: 1.2rem;
        gap: 2.5rem;

        &-item {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          gap: 1rem;

          .title {
            color: #3C4242;
            font-family: "Poppins", sans-serif;
            font-size: 12px;
            font-weight: 700;

            @include media($phone) {
              font-size: 16px;
            }

            @include media($tablet) {
              font-size: 20px;
            }
          }

          .subtitle {
            color: #807D7E;
            font-family: "Poppins", sans-serif;
            font-size: 10px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

            @include media($phone) {
              font-size: 14px;
            }

            @include media($tablet) {
              font-size: 16px;
            }
          }

          .price {
            color: #3C4242;
            font-family: "Poppins", sans-serif;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;

            @include media($phone) {
              font-size: 16px;
            }

            @include media($tablet) {
              font-size: 20px;
            }
          }

          &::after {
            margin-top: 1.5rem;
            display: block;
            width: 100%;
            height: 1px;
            content: " ";
            background-color: #BEBCBD;
          }

          &:last-child::after {
            display: none;
          }
        }
      }
    }

    .paymentMethod {
      .method-selector {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        background-color: #F6F6F6;
        border-radius: 1.2rem;
        gap: 3rem;
        padding: 4.5rem 3rem;

        #credit-card {
          display: flex;
          gap: 3rem;
          flex-direction: column;
          align-items: start;
        }

        .item {
          display: flex;
          gap: 2rem;
          align-items: center;
          flex-wrap: wrap;

          &::after {
            content: " ";
            display: block;
            width: 100%;
            height: 1px;
            background-color: #BEBCBD;
          }

          &:last-child::after {
            display: none;
          }
        }

        .top {
          display: flex;
          gap: 2rem;
          align-items: center;
          flex-wrap: wrap;
        }

        .cards {
          display: flex;
          gap: 2rem;
          flex-wrap: wrap;
          margin-left: 3.8rem;
          justify-content: center;

          .cards-item {
            width: 8rem;
            height: 4.6rem;
            border-radius: 0.8rem;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }

        .inputs {
          display: flex;
          flex-wrap: wrap;
          gap: 3rem;
          margin-left: 3.8rem;
          width: calc(100% - 3.8rem);

          label {
            width: 100%;

            @include media($tablet) {
              width: calc(50% - 1.5rem);
            }
          }

          input {
            width: 100%;
            outline: none;
            border-radius: 8px;
            border: 1px solid #3C4242;
            padding: 1.6rem 2rem;
            color: #807D7E;
            font-family: "Poppins", sans-serif;
            font-size: 14px;
            font-weight: 400;
          }
        }

        .radio  {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          border: #3C4242 solid 1px;
          padding: 2px;

          &-fill {
            display: none;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: #807D7E;
          }

          &:hover {
            cursor: pointer;
          }
        }

        .text {
          color: #3C4242;
          font-family: "Poppins", sans-serif;
          display: flex;
          gap: 0.5rem;
          flex-direction: column;

          .main {
            font-size: 1.2rem;
            font-weight: 700;

            @include media($phone) {
              font-size: 16px;
            }

            @include media($tablet) {
              font-size: 20px;
            }

          }

          .sub {
            font-size: 1rem;
            font-weight: 400;

            @include media($phone) {
              font-size: 14px;
            }

            @include media($tablet) {
              font-size: 16px;
            }
          }
        }
      }
    }
  }

  .summary {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 4rem 2.2rem;
    width: 100%;
    height: fit-content;
    background: #FFF;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.05), -2px -2px 4px 0px rgba(0, 0, 0, 0.05);

    @include media($notebook) {
      max-width: 40rem;
    }

    &__title {
      color: #3C4242;
      font-size: 2rem;
      font-weight: 600;
    }

    &__products {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      .product {
        display: flex;
        align-content: center;
        gap: 1.5rem;

        &__photo {
          width: 6.3rem;
          height: 6.3rem;
          border-radius: 0.8rem;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &__info {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 1rem;
          flex-wrap: wrap;
          width: 100%;

          &Content {
            &Name {
              color: #3C4242;
              font-size: 1.2rem;
              font-weight: 700;
              letter-spacing: 0.28px;

              .count {
                color: #807D7E;
              }
            }

            &Color {
              color: #3C4242;
              font-size: 1.2rem;
              font-weight: 700;
              letter-spacing: 0.28px;

              .value {
                color: #807D7E;
              }
            }
          }

          &Price {
            color: #807D7E;
            font-size: 1.2rem;
            font-weight: 700;
          }
        }
      }
    }

    &__subtotal,
    &__savings,
    &__shipping,
    &__total {
      display: flex;
      justify-content: space-between;

      .title {
        color: #3C4242;
        font-size: 1.4rem;
        font-weight: 700;

        .count {
          color: #807D7E;
        }
      }

      .price {
        color: #3C4242;
        font-size: 1.4rem;
        font-weight: 700;
      }
    }
  }
}

#pay-now {
  margin-top: 5rem;
  color: #FFF;
  padding: 1.6rem 2rem;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
  background-color: #8A33FD;
}

button:hover {
  cursor: pointer;
}