@import "default";
@import "blocks/header";
@import "blocks/footer";

main {
  height: calc(100vh - $headerMobileHeight);

  @include media($notebook) {
    height: calc(100vh - $headerNotebookHeight);
  }

  @include media($desktop) {
    height: calc(100vh - $headerDesktopHeight);
  }
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 3rem;

  &__imgWrapper {
    width: 100%;
    max-width: fit-content;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: "Poppins", sans-serif;
    align-items: center;
  }

  &__title {
    color: black;
    font-size: 3.4rem;
    font-weight: 600;
    text-align: center;
  }

  &__description {
    color: #807D7E;
    text-align: center;
    font-size: 1.6rem;
    max-width: 40rem;
    font-weight: 500;
  }

  &__goHome {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8A33FD;
    color: #FFFFFF;
    border-radius: 0.8rem;
    padding: 1.2rem 4.8rem;
    border: none;
    font-size: 1.8rem;
    font-weight: 600;
  }
}