@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
.selectable {
  -webkit-user-select: text; /* Chrome/Safari/Opera */
  -moz-user-select: text; /* Firefox */
  -ms-user-select: text; /* Internet Explorer/Edge */
  user-select: text; /* Non-prefixed version, currently not supported by any browser */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.3s;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently not supported by any browser */
}

.swiper-scrollbar {
  bottom: -1rem !important;
}
@media (min-width: 1024px) {
  .swiper-scrollbar {
    display: none;
  }
}

.swiper-wrapper {
  width: fit-content;
}

html {
  font-size: 10px;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.button {
  cursor: pointer;
}

footer {
  margin-top: auto;
}

.card {
  border-radius: 1.2rem;
  margin: 0 5vw;
}

.section {
  margin: 0 5vw;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 768px) {
  .section {
    gap: 3rem;
  }
}
@media (min-width: 1024px) {
  .section {
    gap: 5rem;
  }
}
@media (min-width: 1200px) {
  .section {
    gap: 7rem;
  }
}
.section__title {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.section__titleMarker {
  display: none;
}
.section__titleText {
  display: flex;
  gap: 2rem;
  align-items: center;
  color: #3C4242;
  font-family: "Poppins", sans-serif;
  font-size: 2.4rem;
}
.section__titleText::before {
  content: " ";
  display: inline-block;
  width: 6px;
  height: 88%;
  border-radius: 0.3rem;
  background-color: #8A33FD;
}
@media (min-width: 768px) {
  .section__titleText {
    font-size: 2.8rem;
  }
}
@media (min-width: 1024px) {
  .section__titleText {
    font-size: 3.1rem;
  }
}
@media (min-width: 1200px) {
  .section__titleText {
    font-size: 3.4rem;
  }
}
.section__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

main {
  max-width: 144rem;
  width: 100%;
  align-self: center;
}

.path {
  align-self: center;
  width: 100%;
  max-width: 1440px;
  padding: 2rem 5vw 0;
  font-family: "Poppins", sans-serif;
  color: #807D7E;
  display: flex;
  gap: 1.5rem;
}
.path__element {
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
}
.path__element:last-child {
  color: #3C4242;
}

.checkbox {
  display: flex;
  gap: 1rem;
}
.checkbox label {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-direction: row;
}
.checkbox__icon {
  font-size: 16px;
  color: #3C4242;
}
.checkbox__icon-container {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #BEBCBD solid 1px;
  border-radius: 2px;
  cursor: pointer;
}
.checkbox__text {
  color: #3C4242;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

body {
  position: relative;
}

.header {
  z-index: 100;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: center;
  background-color: #FFFFFF;
  height: 6.8rem;
  border-bottom: #807D7E 1px solid;
}
@media (min-width: 1024px) {
  .header {
    height: 8.5rem;
  }
}
@media (min-width: 1200px) {
  .header {
    height: 10.8rem;
  }
}
.header__logo {
  display: none;
}
@media (min-width: 1200px) {
  .header__logo {
    display: block;
  }
}
.header__contentWrapper {
  max-width: 144rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.2rem;
  width: 100%;
  padding: 1.2rem;
}
@media (min-width: 480px) {
  .header__contentWrapper {
    margin: 0 3vw;
  }
}
.header__buttons {
  display: none;
  flex-direction: row;
  gap: 1.2rem;
}
@media (min-width: 768px) {
  .header__buttons {
    display: flex;
  }
}

@media (min-width: 1024px) {
  #showHidden {
    display: none;
  }
}
.nav {
  display: none;
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem;
  color: #807D7E;
}
.nav__list {
  display: flex;
  align-items: center;
  gap: 4rem;
  flex-direction: row;
  list-style: none;
}
.nav__element a {
  text-decoration: none;
  color: #807D7E;
}
.nav__element a:hover {
  color: #3C4242;
}
@media (min-width: 1024px) {
  .nav {
    font-size: 2rem;
    display: flex;
  }
}
@media (min-width: 1200px) {
  .nav {
    font-size: 2.2rem;
    padding: 0 0 0 3vw;
  }
}

.search {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  gap: 1.2rem;
  color: #807D7E;
  background-color: #F6F6F6;
  border-radius: 0.8rem;
  padding: 1.2rem 2rem;
}
.search:hover {
  cursor: pointer;
}
@media (min-width: 1024px) {
  .search {
    max-width: 27rem;
    margin: auto;
  }
}
.search__icon {
  color: #807D7E;
  font-size: 2rem;
}
.search__input {
  height: 2rem;
  background-color: #F6F6F6;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  width: 100%;
  font-weight: 400;
  border: none;
  outline: none;
  cursor: pointer;
}

.button {
  height: fit-content;
  border-radius: 0.8rem;
  border: none;
  background-color: #F6F6F6;
}
.button i {
  color: #807D7E;
  font-size: 2rem;
  padding: 1.2rem;
}

.hiddenContent {
  position: absolute;
  top: 6.8rem;
  left: 0;
  width: 100%;
  height: calc(100vh - 6.8rem);
  background-color: rgba(255, 255, 255, 0.95);
  display: none;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 3rem;
}
@media (min-width: 768px) {
  .hiddenContent hr {
    display: none;
  }
}
.hiddenContent > * {
  margin: 0 5%;
}
.hiddenContent a {
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem;
  color: #3C4242;
}
@media (min-width: 1024px) {
  .hiddenContent {
    display: none;
  }
}
.hiddenContent .hiddenButtons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 768px) {
  .hiddenContent .hiddenButtons {
    display: none;
  }
}
.hiddenContent .hiddenNav ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.hiddenContent .hiddenNav ul li {
  list-style: none;
}

.hiddenContent {
  animation: animatetop;
  animation-duration: 0.4s;
}

@keyframes animatetop {
  from {
    top: -30rem;
    opacity: 0;
  }
  to {
    top: 6.8rem;
    opacity: 1;
    @media (min-width: 1024px) {
      top: 8.5rem;
    }
    @media (min-width: 1200px) {
      top: 10.8rem;
    }
  }
}
.footer {
  display: flex;
  flex-direction: column;
  background-color: #3C4242;
}
.footer__content-wrapper {
  align-self: center;
  max-width: 144rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #F6F6F6;
  padding: 2rem min(5rem, 5vw);
}
@media (min-width: 1024px) {
  .footer {
    padding: 5rem;
  }
}
.footer__contentMobile {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 3rem;
  column-gap: 1.5rem;
}
@media (min-width: 1024px) {
  .footer__contentMobile {
    display: none;
  }
}
.footer__columns {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 3rem;
}
@media (min-width: 480px) {
  .footer__columns {
    flex-direction: row;
  }
}
.footer__contentDesktop {
  display: none;
  flex-direction: column;
  text-align: center;
  row-gap: 3rem;
  column-gap: 1.5rem;
}
@media (min-width: 1024px) {
  .footer__contentDesktop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.5fr;
    grid-template-rows: auto auto;
    padding: 0 min(80px, 4vw);
  }
}
.footer__title {
  font-size: 2rem;
  font-weight: 700;
}
@media (min-width: 1024px) {
  .footer__title {
    text-align: start;
  }
}
.footer__block ul {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  list-style: none;
  font-size: 1.4rem;
  margin-top: 1.5rem;
}
@media (min-width: 1024px) {
  .footer__block ul {
    gap: 1.8rem;
    text-align: start;
  }
}
.footer__socialLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: end;
  flex-wrap: wrap;
  gap: 1rem;
}
@media (min-width: 1024px) {
  .footer__socialLinks {
    justify-content: start;
    grid-column: 1/4;
  }
}
.footer__downloadLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.1rem;
}
@media (min-width: 1024px) {
  .footer__downloadLinks {
    grid-column: 4/-1;
    justify-content: start;
  }
}
.footer__downloadLinks .footer__title {
  display: none;
  flex: 1 0 100%;
}
@media (min-width: 1024px) {
  .footer__downloadLinks .footer__title {
    display: block;
  }
}
.footer__popularCategories {
  cursor: pointer;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding: 3rem min(80px, 4vw);
  border: 1px solid #BEBCBD;
  border-right: none;
  border-left: none;
}
@media (min-width: 1024px) {
  .footer__popularCategories {
    display: flex;
    grid-row-start: -2;
    grid-column: 1/-1;
  }
}
.footer__popularCategories i {
  font-size: 2rem;
}
.footer__copyright {
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
}
@media (min-width: 1024px) {
  .footer__copyright {
    font-size: 1.8rem;
    grid-row-start: -1;
    grid-column: 1/-1;
  }
}
.footer a {
  color: #F6F6F6;
}

main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 3rem 0;
}
@media (min-width: 1024px) {
  main {
    flex-direction: row;
    padding: 2rem 5vw 5rem;
  }
}

.section {
  gap: 2rem;
}
@media (min-width: 1024px) {
  .section {
    margin: 0;
  }
}

article {
  flex: 1 1 auto;
}

.menu {
  min-width: 25rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 768px) {
  .menu {
    gap: 4rem;
  }
}
.menu__header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: "Poppins", sans-serif;
}
.menu__title {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  color: #3C4242;
  font-size: 28px;
  font-weight: 600;
}
.menu__title::before {
  display: block;
  content: " ";
  width: 6px;
  height: 28px;
  background-color: #8A33FD;
  border-radius: 3px;
}
.menu__subtitle {
  color: #807D7E;
  font-size: 14px;
  font-weight: 400;
}
.menu__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}
.menu__element a {
  display: flex;
  gap: 1.5rem;
  color: #807D7E;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  padding: 1rem 0 1rem 3.6rem;
  cursor: pointer;
}
.menu__element--active {
  background-color: #F6F6F6;
  border-left: #3C4242 2px solid;
}

.title {
  color: #3C4242;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 33.5px; /* 119.643% */
  letter-spacing: 0.56px;
}

.orders {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.orders__status {
  color: #3C4242;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 33.5px;
  letter-spacing: 0.44px;
  padding: 1rem 5rem;
  margin-left: -2px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .orders__status {
    border-radius: 8px 8px 0 0;
    margin-bottom: -3px;
    margin-left: 0;
  }
}
.orders__status--active {
  background-color: #F6F6F6;
  border-left: 2px solid #3C4242;
}
@media (min-width: 768px) {
  .orders__status--active {
    border-bottom: 3px solid #3C4242;
    border-left: none;
  }
}
.orders__status-selector {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .orders__status-selector {
    border-bottom: #F6F6F6 3px solid;
    flex-direction: row;
  }
}
.orders__table {
  display: flex;
  flex-direction: column;
}
.orders__item {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.orders__item::after {
  display: block;
  content: " ";
  background-color: #EDEEF2;
  height: 1px;
  width: 100%;
}

.order {
  font-family: "Poppins", sans-serif;
}
.order__info {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  gap: 1.5rem;
  border-radius: 8px;
  padding: 2.5rem;
}
@media (min-width: 768px) {
  .order__info {
    padding: 2.5rem 4rem;
  }
}
.order__number {
  color: #3C4242;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.order__additional-info {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: space-between;
}
.order__additional-info p {
  width: 100%;
  color: #807D7E;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media (min-width: 768px) {
  .order__additional-info p {
    width: calc(50% - 4rem);
  }
}
.order__additional-info .order-date,
.order__additional-info .delivery-date {
  text-align: left;
}
@media (min-width: 768px) {
  .order__additional-info .order-status,
  .order__additional-info .payment-method {
    text-align: right;
  }
}
.order__additional-info span {
  color: #BEBCBD;
  font-weight: 400;
}
.order__products {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.product {
  display: grid;
  gap: 2.5rem;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: auto 1fr;
}
@media (min-width: 480px) {
  .product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.product__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product__photo-wrapper {
  grid-column: 1;
  grid-row: 1;
  width: 9.6rem;
  height: 9.6rem;
  border-radius: 8px;
  overflow: hidden;
}
.product__info {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  text-align: right;
  flex: 1;
}
@media (min-width: 480px) {
  .product__info {
    justify-content: left;
    text-align: left;
  }
}
.product__name {
  color: #3C4242;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.product__additional-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: #3C4242;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.product__additional-info span {
  color: #BEBCBD;
}
.product__price {
  color: #807D7E;
}
.product__details {
  place-self: center;
  grid-column: 1/-1;
  grid-row: 2;
  width: 100%;
  border-radius: 8px;
  background: #8A33FD;
  padding: 14px 28px;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (min-width: 480px) {
  .product__details {
    width: fit-content;
  }
}

/*# sourceMappingURL=orders.css.map */
